
@import '../../../bower_components/tetra-ui/dist/sass/tetra-ui-viaduct';

body {
  padding: 20px;
  background: #e8e9eb;
  height: 100%;
  color: #333;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
}
