{{! This is a partial that is available on the server only, under the name partial-info. Note that its location keys }}
{{! are available in locales/_partials/info.json, and are referenced by the same namespace }}

<p>{{{t 'partials.info.setup_1' }}}</p>
<p>{{{t 'partials.info.setup_2' }}}</p>
<p>{{{t 'partials.info.setup_3' }}}</p>