<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/styles/main.css">
    {{#pop "styles"}}{{/pop}}
</head>
<body>
    <div id="main" class="fluid-container">
        {{{body}}}
    </div>
    {{!-- <script src="/scripts/main.js"></script> --}}
    {{#pop "scripts"}}{{/pop}}
</body>
</html>
